.carousel{
margin: 0 !important;

}
.carousel img{
  
}
 .carousel-control-prev span , .carousel-control-next span{
    background-color: black !important;
}

@media only screen and (max-width: 600px) {
   .carousel {
      display: none;
    }
  }